<div>
    <ul class="unstyled">
        <li ng-repeat="doc in docs">
            <div ng-hide="doc.Signed">
                Unsigned doc: <a href="api/documents/{{doc.Id}}/signing">{{doc.Name}}</a>
            </div>
            <div ng-show="doc.Signed">
                Signed  doc: {{doc.Name}}, time stamp valid until {{doc.TimeStampValidity}}
                <ul>
                    <li ng-repeat="signature in doc.Signatures">
                        Singed by "{{signature.Signer}}" <span ng-show="signature.IsNew">(new signer) </span>on {{signature.signedon}}
                    </li>
                </ul>
            </div>
        </li>
    </ul>
    <button ng-click="refresh()">Refresh</button>
</div>
