<div class="modal-header">
    <h3 class="modal-title">Signing {{doc.Name}}</h3>
</div>
<div class="modal-body">
    <form action="" method="post" class="bootstrap-frm">
        <h1>
            Signing properties
            <span>Optional properties that will be used during signing</span>
        </h1>
        <label>
            <span>Location: </span>
            <input id="location" type="text" name="location" placeholder="Your City" value="{{props.location}}" />
        </label>

        <label>
            <span>Role: </span>
            <input id="role" type="text" name="role" placeholder="Your Role" value="{{props.role}}" />
        </label>

    </form>
</div>
<div class="modal-footer">
    <button class="btn" ng-click="fill()">Fill defaults</button>
    <a href="api/documents/{{doc.Id}}/signing?location={{props.location}}&role={{props.role}}" class="btn btn-primary">OK</a>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>