<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="wpf_demo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="wcf"/>
        </listeners>

      </source>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="wcf"/>
        </listeners>
      </source>
    </sources>
    <trace autoflush="true"/>
    <sharedListeners>
      <add name="wcf" type="System.Diagnostics.XmlWriterTraceListener" initializeData="wcf.svclog"/>
    </sharedListeners>
  </system.diagnostics>
  <system.serviceModel>
    <diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" maxMessagesToLog="3000" maxSizeOfMessageToLog="2000000"/>
    </diagnostics>
  </system.serviceModel>
  <applicationSettings>
    <wpf_demo.Properties.Settings>
      <setting name="user" serializeAs="String">
        <value>egelke</value>
      </setting>
      <setting name="pwd" serializeAs="String">
        <value>egelke</value>
      </setting>
    </wpf_demo.Properties.Settings>
  </applicationSettings>
</configuration>
