<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="wcf"/>
        </listeners>
      </source>
      <source name="EContract.Dssp.Client" switchValue="Information, ActivityTracing">
        <listeners>
          <add name="wcf"/>
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="wcf"/>
        </listeners>
      </source>
      <source name="EContract.Dssp.Client.MessageLogging" switchValue="Information">
        <listeners>
          <add name="wcf"/>
        </listeners>
      </source>
    </sources>
    <trace autoflush="true"/>
    <sharedListeners>
      <add name="wcf" type="System.Diagnostics.XmlWriterTraceListener" initializeData="wcf.svclog"/>
    </sharedListeners>
  </system.diagnostics>
  <system.serviceModel>
    <diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" maxMessagesToLog="3000" maxSizeOfMessageToLog="2000000"/>
    </diagnostics>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
