<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="forms_demo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="wcf"/>
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="wcf"/>
        </listeners>
      </source>
    </sources>
    <trace autoflush="true"/>
    <sharedListeners>
      <add name="wcf" type="System.Diagnostics.XmlWriterTraceListener" initializeData="wcf.svclog"/>
    </sharedListeners>
  </system.diagnostics>
  <system.serviceModel>
    <diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" maxMessagesToLog="3000" maxSizeOfMessageToLog="2000000"/>
    </diagnostics>
  </system.serviceModel>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime/>
    <sessionState cookieSameSite="None"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <applicationSettings>
    <forms_demo.Properties.Settings>
      <setting name="Language" serializeAs="String">
        <value>nl</value>
      </setting>
      <setting name="AppName" serializeAs="String">
        <value>egelke</value>
      </setting>
      <setting name="AppPwd" serializeAs="String">
        <value>egelke</value>
      </setting>
      <setting name="Authorization" serializeAs="String">
        <value/>
      </setting>
    </forms_demo.Properties.Settings>
  </applicationSettings>
</configuration>